#form {
    text-align: justify;

}

#btn {
    color: rgb(5, 5, 5);
    background: rgb(218, 215, 215);
    height: 40px;
    width: 100px;
    border-radius: 10px;

}

#btn:hover {
    background-color: rgb(255, 153, 0);
    color: rgb(12, 12, 12);
}

#form {
    margin-top: 100px;
    width: 300px;
    padding: 50px;
    margin-left: auto;
    margin-right: auto;
    background-color: #474646
}


#form body {
    background-color: rgb(233, 218, 218)
}